html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 1.1em;
}
.inputRow,
#entryHolder {
  margin: 0.5rem 2rem;
}

.inputRow > input[type="text"],
.inputRow > textarea,
.inputRow > select {
  display: block;
  width: 100%;
}

.rowLabel {
  display: block;
  color: green;
  margin: 0.5rem 0;
}

.inputRow button {
  width: 150px;
  height: 40px;
  font-size: 1.1em;
  background-color: yellowgreen;
  border: 0px solid yellowgreen;
}

.radioLabel {
  display: inline;
}
